@font-face {
    font-family: "Futura-Book";
    src: url("../../assets/fonts/woff/FuturaLT-Book.woff2");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Merriweather-Italic-Bold";
    src: url("../../assets/fonts/woff/Merriweather-BlackItalic.woff");
    font-weight: 900;
  }