@use "../../styles/partials/elements" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.port-wine-list {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  border: 0.063rem solid black;

  &__wine {
    padding-bottom: 0.5rem;

    &--name {
      margin: 0;
    }
  }

  &__winery {
    padding-bottom: 0.5rem;
    &--name {
      margin: 0;
    }
  }

  &__origin {
    &--name {
      margin: 0;
    }
  }
}