@use "../../styles/partials/elements" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

body {
  background: rgb(229, 189, 246);
  background: linear-gradient(
    57deg,
    #e5bdf6e2 43%,
    rgba(216, 222, 222, 1) 100%
  );

  height: 100vh;
}

.discover {
}
