@use "../../styles/partials/elements" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 7.5vh;
  width: 100%;
  background-color: $maroon;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 0.25rem 2rem;
  height: 100%;

  &__home {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 6rem;
    height: 90%;
    color: white;
    text-shadow: black 1px 3px;
  }


  &__discover {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 6rem;
    height: 90%;
    color: white;
    text-shadow: black 1px 3px;
  }
}

.link-nav {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  margin: 0;
}