@use "../../styles/partials/elements" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.nav {
  display: flex;
  flex-direction: column;
  height: 7.5vh;
  background-color: $maroon;
  // border-top: white solid .25rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 2rem;
  justify-content: space-between;
  padding: .25rem 1rem;
  height: 100%;

  &__home {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 5rem;
    height: 90%;
    color: $grey;
  }

  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 5rem;
    height: 90%;
    color: $grey;
  }

  &__discover {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 5rem;
    height: 90%;
    color: $grey;
  }
}
