@use "../../styles/partials/elements" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.title {
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 2px #fff, 
               0 0 8px #fff, 
               0 0 12px #fff, 
               0 0 42px rgb(255, 0, 21),
               0 0 82px rgb(255, 0, 21), 
               0 0 92px rgb(255, 0, 21), 
               0 0 180px rgb(255, 0, 21), 
               0 0 125px rgb(255, 0, 21);
}
